<div class="container form-style d-flex align-items-start">
    <div class="container col-lg-6 col-sm-12 row">
        <h4>Load Contacts</h4>
        <div class="col-lg-12">
            <%= render "users/contacts/contact_loader" %>
             <%= flash[:notice] %>
        </div>
    </div>
    <div class="container col-lg-6 col-sm-12 row">
        <h4>Contacts</h4>
        <div class="col-lg-12">
            <%= render "users/contacts/contact_list" %>
        </div>
    </div>
</div>